{% set languages = craft.abmChatGpt.getLanguages() %}
{% set prompts = craft.abmChatGpt.getPrompts(true) %}
{% set currentLang = "" %}
{% for site in craft.app.sites.getAllSites() %}
	{% if site.handle == craft.app.request.getQueryParam('site') %}
		{% set currentLang = site.language %}
	{% endif %}
{% endfor %}
{% if currentLang|length == 0 %}
	{% set currentLang = craft.app.sites.getAllSites()[0].language %}
{% endif %}

{% set fieldId = event.element.id??'fl-' ~ hash %}
{% set actionBtnAttributes = {
    class: ['btn', '', 'abm-chatgpt-button', 'menubtn'],
    type: 'button',
    role: 'button',
    title: 'Actions'|t('abm-chatgpt'),
    aria: {
        controls: 'prompt-' ~ fieldId,
        expanded: false
    },
    data: {
        'disclosure-trigger': true,
        'hash': hash
    },
    style: {
        position: 'absolute',
        top: 0,
        right: 0
    }
} %}

function abm_chatgpt_appendPromptsToTitle() {
	$("#content").append(`
		<div class="abm-chatgpt-button">
			<button {{ attr(actionBtnAttributes) }} id="abm-chatgpt-prompt-title-button">
				<svg role="img" viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M22.2819 9.8211a5.9847 5.9847 0 0 0-.5157-4.9108 6.0462 6.0462 0 0 0-6.5098-2.9A6.0651 6.0651 0 0 0 4.9807 4.1818a5.9847 5.9847 0 0 0-3.9977 2.9 6.0462 6.0462 0 0 0 .7427 7.0966 5.98 5.98 0 0 0 .511 4.9107 6.051 6.051 0 0 0 6.5146 2.9001A5.9847 5.9847 0 0 0 13.2599 24a6.0557 6.0557 0 0 0 5.7718-4.2058 5.9894 5.9894 0 0 0 3.9977-2.9001 6.0557 6.0557 0 0 0-.7475-7.0729zm-9.022 12.6081a4.4755 4.4755 0 0 1-2.8764-1.0408l.1419-.0804 4.7783-2.7582a.7948.7948 0 0 0 .3927-.6813v-6.7369l2.02 1.1686a.071.071 0 0 1 .038.052v5.5826a4.504 4.504 0 0 1-4.4945 4.4944zm-9.6607-4.1254a4.4708 4.4708 0 0 1-.5346-3.0137l.142.0852 4.783 2.7582a.7712.7712 0 0 0 .7806 0l5.8428-3.3685v2.3324a.0804.0804 0 0 1-.0332.0615L9.74 19.9502a4.4992 4.4992 0 0 1-6.1408-1.6464zM2.3408 7.8956a4.485 4.485 0 0 1 2.3655-1.9728V11.6a.7664.7664 0 0 0 .3879.6765l5.8144 3.3543-2.0201 1.1685a.0757.0757 0 0 1-.071 0l-4.8303-2.7865A4.504 4.504 0 0 1 2.3408 7.872zm16.5963 3.8558L13.1038 8.364 15.1192 7.2a.0757.0757 0 0 1 .071 0l4.8303 2.7913a4.4944 4.4944 0 0 1-.6765 8.1042v-5.6772a.79.79 0 0 0-.407-.667zm2.0107-3.0231l-.142-.0852-4.7735-2.7818a.7759.7759 0 0 0-.7854 0L9.409 9.2297V6.8974a.0662.0662 0 0 1 .0284-.0615l4.8303-2.7866a4.4992 4.4992 0 0 1 6.6802 4.66zM8.3065 12.863l-2.02-1.1638a.0804.0804 0 0 1-.038-.0567V6.0742a4.4992 4.4992 0 0 1 7.3757-3.4537l-.142.0805L8.704 5.459a.7948.7948 0 0 0-.3927.6813zm1.0976-2.3654l2.602-1.4998 2.6069 1.4998v2.9994l-2.5974 1.4997-2.6067-1.4997Z"/></svg>
			</button>

			<div id="prompt-{{ fieldId }}" class="menu menu--disclosure abm-chatgpt-menu">
				<ul class="padded">
					{% for item in prompts %}
						<li><a href="javascript:void(0);" class="doAi-abm-chatgpt" type="button" role="button"
								data-hash="{{ hash }}"
								data-prompt="{{ item.id }}"
								data-lang="{{ currentLang }}"
								aria-label="{{ item.label }}">
									{{ item.label }}
						</a></li>
					{% else %}
						<li style="padding: 1em 0"><p>{{ 'No prompts found'|t('abm-chatgpt') }}</p></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	`);

	$("#abm-chatgpt-prompt-title-button").appendTo("#title-field div.input")
	$("#title").css('padding-right', '66px');
}

if($("input#title").length) {
	abm_chatgpt_appendPromptsToTitle();
}

{% if languages|length > 1 %}
    {% set translateBtnAttributes = {
        class: ['btn', '', 'abm-chatgpt-button', 'menubtn'],
        type: 'button',
        role: 'button',
        title: 'Actions'|t('abm-chatgpt'),
        aria: {
            controls: 'tr-' ~ fieldId,
            label: "translate button",
            expanded: false
        },
        data: {
            'disclosure-trigger': true,
            'hash': hash
        },
        style: {
            position: 'absolute',
            top: 0,
            right: '65px'
        }
    } %}
	function abm_chatgpt_appendTransToTitle(){
		$("#content").append(`
			<div class="abm-chatgpt-button">
				<button {{ attr(translateBtnAttributes) }} id="abm-chatgpt-translate-title-button">
					<svg width="18" height="18" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M12.65625,14.25 L12.375,14.9765625 C12.1874991,15.4609399 12.0781252,15.703125 12.046875,15.703125 L9.796875,13.453125 L6.68360822,16.5663918 C6.39172657,16.8582734 5.91903567,16.8600241 5.625,16.5703125 L5.625,16.5703125 C5.33623222,16.2857913 5.33278968,15.8210488 5.61731088,15.532281 C5.62004434,15.5295067 5.62279984,15.5267543 5.62557711,15.5240239 L8.796875,12.40625 C8.34895609,11.9062475 7.94791844,11.3802111 7.59375,10.828125 C7.23958156,10.2760389 6.92708469,9.69791969 6.65625,9.09375 L8.09375,9.09375 C8.32291781,9.55208563 8.57812359,9.98176883 8.859375,10.3828125 C9.14062641,10.7838562 9.45312328,11.1718731 9.796875,11.546875 C10.3281277,10.9739555 10.7812481,10.3567741 11.15625,9.6953125 C11.5312519,9.03385086 11.8437487,8.35417016 12.09375,7.65625 L4.7265625,7.65625 C4.32529311,7.65625 4,7.33095689 4,6.9296875 L4,6.9296875 C4,6.52841811 4.32529311,6.203125 4.7265625,6.203125 L9.09375,6.203125 L9.09375,5.4765625 C9.09375,5.07529311 9.41904311,4.75 9.8203125,4.75 L9.8203125,4.75 C10.2215819,4.75 10.546875,5.07529311 10.546875,5.4765625 L10.546875,6.203125 L14.9296875,6.203125 C15.3309569,6.203125 15.65625,6.52841811 15.65625,6.9296875 L15.65625,6.9296875 C15.65625,7.33095689 15.3309569,7.65625 14.9296875,7.65625 L13.5,7.65625 C13.3645827,8.07291875 13.2031259,8.48958125 13.015625,8.90625 C12.8385408,9.32291875 12.638022,9.73176883 12.4140625,10.1328125 C12.190103,10.5338562 11.9427097,10.9270814 11.671875,11.3125 C11.4010403,11.6875019 11.1093766,12.0520816 10.796875,12.40625 L12.65625,14.25 Z M17.0029793,11.227973 L19.7470207,18.615777 C19.8441689,18.8773297 19.7108926,19.1681143 19.4493398,19.2652625 C19.3930504,19.28617 19.3334844,19.296875 19.2734375,19.296875 L19.2734375,19.296875 C18.8373843,19.296875 18.4480623,19.023687 18.2997449,18.6136329 L17.75,17.09375 L14.296875,17.09375 L13.7471301,18.6136329 C13.5988127,19.023687 13.2094907,19.296875 12.7734375,19.296875 L12.7734375,19.296875 C12.4944256,19.296875 12.2682418,19.0706912 12.2682418,18.7916793 C12.2682418,18.7316324 12.2789468,18.6720664 12.2998543,18.615777 L15.0438957,11.227973 C15.1959736,10.8185325 15.5866661,10.546875 16.0234375,10.546875 L16.0234375,10.546875 C16.4602089,10.546875 16.8509014,10.8185325 17.0029793,11.227973 Z M14.796875,15.65625 L17.203125,15.65625 L16,12.5 L14.796875,15.65625 Z" fill="#000000"/></g></svg>
				</button>
				<div id="tr-{{ fieldId }}" class="menu menu--disclosure abm-chatgpt-menu">
					<ul class="padded">
						{% for site in languages %}
							<li><a href="javascript:void(0);" class="doAi-abm-chatgpt"
									data-hash="{{ hash }}"
									data-prompt="_translate_" type="button" role="button"
									data-lang="{{ site.language }}"
									aria-label="{{ site.text }}">
										{{ site.text }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		`);

		$("#abm-chatgpt-translate-title-button").appendTo("#title-field div.input")
		$("#title").css('padding-right', '126px');
	}
	if($("input#title").length){
		abm_chatgpt_appendTransToTitle();
	}
{% endif %}