{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% do view.registerAssetBundle("abmat\\chatgpt\\assets\\ChatGptAssets") %}

{% set isNewPrompt = true %}
{% if prompt.id %}
	{% set isNewPrompt = false %}
{% endif %}

{% if isNewPrompt %}
	{% set title = 'New Prompt' %}
{% else %}
	{% set title = 'Edit Prompt' %}
{% endif %}

{% set selectedSubnavItem = 'prompts' %}

{% set crumbs = [
    { label: 'Chat GPT'|t('abm-chatgpt'), url: url('abm-chatgpt') },
    { label: 'Prompts'|t('abm-chatgpt'), url: url('abm-chatgpt/prompts') }
] %}

{% set fullPageForm = true %}

{% block content %}
    {{ forms.hidden({
        name: 'action',
        value: 'abm-chatgpt/prompts/save'
    }) }}

	{% if not isNewPrompt %}
		{{ forms.hidden({
			name: 'id',
			value: prompt.id
		}) }}
	{% endif %}

    {{ forms.textField({
        label: 'Label'|t('app'),
        name: 'label',
        errors: prompt.getErrors('label'),
        required: true,
        first: true,
        value: prompt.label,
        autofocus: true,
    }) }}

    <div class="abm-slider field">
        <div class="heading">
            <label>{{ 'Temperature'|t('abm-chatgpt') }}</label>
		</div>
		<div class="instructions">
            <p>{{ 'temperatureDescription'|t('abm-chatgpt')}}</p>
        </div>
        <div class="flex">
            <input
                    type="range"
                    step="0.1"
                    min="0"
                    max="2"
                    class="slider"
                    id="temperature"
                    value="{{ prompt.temperature }}"
                    name="temperature"
                    data-gtm-form-interact-field-id="0"
            >
            <span>{{ prompt.temperature }}</span>
        </div>
    </div>

    <div class="abm-chatgpt-words-count field">
        <div class="heading"><label>{{ 'Number of words to generate'|t('abm-chatgpt')}}</label></div>
        <div class="flex flex-nowrap">
            <div class="abm-chatgpt-words-block">
                <input type="radio" class="radio" name="wordsType" id="wordsType1" value="1"
                       {% if prompt.wordsType==1 %}checked{% endif %}>
                <label for="wordsType1">{{ 'Approx. fixed number of words'|t('abm-chatgpt') }}</label>

                {{ forms.textField({
                    label: 'Number of words'|t('abm-chatgpt'),
                    name: 'wordsNumber',
                    errors: prompt.getErrors('wordsNumber'),
                    required: true,
                    value: prompt.wordsNumber,
                    autofocus: true,
                }) }}
                <p>{{ 'numberOfWordsDescription'|t('abm-chatgpt')}}</p>
            </div>
            <div class="abm-chatgpt-words-block">
                <input type="radio" class="radio" name="wordsType" id="wordsType2" value="2"
                       {% if prompt.wordsType==2 %}checked{% endif %}>
                <label for="wordsType2">{{ 'Relative to length of text'|t('abm-chatgpt')}}</label>

                <div class="abm-slider field">
                    <div class="heading">
                        <label>{{ 'Multiplier'|t('abm-chatgpt') }}</label>
                    </div>
                    <div class="flex">
                        <input
                                type="range"
                                step="0.1"
                                min="0"
                                max="6"
                                class="buddy-slider"
                                id="wordsMultiplier"
                                value="{{ prompt.wordsMultiplier }}"
                                name="wordsMultiplier"
                                data-prefix="x"
                        >
                        <span>x{{ prompt.wordsMultiplier }}</span>
                    </div>
                    <p style="margin-top: 40px">{{ 'multiplierDescription'|t('abm-chatgpt')}}</p>
                </div>
            </div>
        </div>
    </div>

	{{ forms.lightswitchField({
        label: 'Replace the text'|t('abm-chatgpt'),
        instructions: 'promptReplaceText'|t('abm-chatgpt'),
        name: 'replaceText',
        on: (prompt) ? prompt.replaceText : true
    }) }}

    {{ forms.textAreaField({
        id: 'PromptTemplateTextarea',
        label: 'Prompt Template'|t('abm-chatgpt'),
        instructions: 'promptTemplateInstructions'|t('abm-chatgpt'),
        name: 'template',
        errors: prompt.getErrors('template'),
        required: true,
        maxlength: 600,
        rows: 6,
        value: prompt.template
    }) }}

    {% js %}
    const PromptTemplateTextarea = document.getElementById('PromptTemplateTextarea');
    const maxLengthPromptTemplateTextarea = PromptTemplateTextarea.getAttribute('maxlength');
    let currentPromptLength = PromptTemplateTextarea.value.replace(/\n/g, "\r\n").length;

    const characterCounter = document.createElement("div");
    characterCounter.innerHTML = 'Approx ' + currentPromptLength + ' / ' + maxLengthPromptTemplateTextarea;
    PromptTemplateTextarea.parentNode.insertBefore(characterCounter, PromptTemplateTextarea.nextSibling);

    PromptTemplateTextarea.addEventListener("input", ()=> {
        let currentPromptLength = PromptTemplateTextarea.value.replace(/\n/g, "\r\n").length;
        characterCounter.innerHTML = 'Approx ' + currentPromptLength + ' / ' + maxLengthPromptTemplateTextarea;
    });

    PromptTemplateTextarea.addEventListener("keypress", (evt)=> {

        let currentPromptLength = PromptTemplateTextarea.value.replace(/\n/g, "\r\n").length;
        if(currentPromptLength>=maxLengthPromptTemplateTextarea) {
            evt.preventDefault();
        }
    });
    {% endjs %}

{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {% include 'abm-chatgpt/_components/_promptSidebar' with {'element': prompt} %}
    </div>
{% endblock %}